Shelly_Aharoni_Cellular_Company 1.2/Client/Connected Services/CustomerServiceReference/CustomerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Dtoes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Dtoes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDto" nillable="true" type="tns:CustomerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDto" nillable="true" type="tns:ArrayOfCustomerDto" />
  <xs:complexType name="CustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallsToCenter" type="xs:int" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="tns:CustomerTypeDto" />
      <xs:element minOccurs="0" name="CustomerTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lines" nillable="true" type="tns:ArrayOfLineDto" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfPaymentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDto" nillable="true" type="tns:CustomerDto" />
  <xs:complexType name="CustomerTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomerDto" />
      <xs:element minOccurs="0" name="MinutePrice" type="xs:double" />
      <xs:element minOccurs="0" name="SMSPrice" type="xs:double" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerTypeDto" nillable="true" type="tns:CustomerTypeDto" />
  <xs:complexType name="ArrayOfLineDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineDto" nillable="true" type="tns:LineDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineDto" nillable="true" type="tns:ArrayOfLineDto" />
  <xs:complexType name="LineDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calls" nillable="true" type="tns:ArrayOfCallDto" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerDto" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package" nillable="true" type="tns:PackageDto" />
      <xs:element minOccurs="0" name="PackageId" type="xs:int" />
      <xs:element minOccurs="0" name="SMSes" nillable="true" type="tns:ArrayOfSMSDto" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineDto" nillable="true" type="tns:LineDto" />
  <xs:complexType name="ArrayOfCallDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallDto" nillable="true" type="tns:CallDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallDto" nillable="true" type="tns:ArrayOfCallDto" />
  <xs:complexType name="CallDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
      <xs:element minOccurs="0" name="ExternalPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Line" nillable="true" type="tns:LineDto" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallDto" nillable="true" type="tns:CallDto" />
  <xs:complexType name="PackageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lines" nillable="true" type="tns:ArrayOfLineDto" />
      <xs:element minOccurs="0" name="PackageId" type="xs:int" />
      <xs:element minOccurs="0" name="PackageIncludes" nillable="true" type="tns:ArrayOfPackageIncludeDto" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageTotalPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageDto" nillable="true" type="tns:PackageDto" />
  <xs:complexType name="ArrayOfPackageIncludeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageIncludeDto" nillable="true" type="tns:PackageIncludeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageIncludeDto" nillable="true" type="tns:ArrayOfPackageIncludeDto" />
  <xs:complexType name="PackageIncludeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscountPrecentage" type="xs:double" />
      <xs:element minOccurs="0" name="FavoriteNumbersId" type="xs:int" />
      <xs:element minOccurs="0" name="FixedPrice" type="xs:double" />
      <xs:element minOccurs="0" name="IncludeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsideFamilyCalls" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxMinute" type="xs:int" />
      <xs:element minOccurs="0" name="MostCalledNumber" type="xs:boolean" />
      <xs:element minOccurs="0" name="Package" nillable="true" type="tns:PackageDto" />
      <xs:element minOccurs="0" name="PackageId" type="xs:int" />
      <xs:element minOccurs="0" name="PackageIncludeId" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedNumber" nillable="true" type="tns:SelectedNumberDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageIncludeDto" nillable="true" type="tns:PackageIncludeDto" />
  <xs:complexType name="SelectedNumberDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageIncludes" nillable="true" type="tns:ArrayOfPackageIncludeDto" />
      <xs:element minOccurs="0" name="SecondNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectedNumberId" type="xs:int" />
      <xs:element minOccurs="0" name="ThirdNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedNumberDto" nillable="true" type="tns:SelectedNumberDto" />
  <xs:complexType name="ArrayOfSMSDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMSDto" nillable="true" type="tns:SMSDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMSDto" nillable="true" type="tns:ArrayOfSMSDto" />
  <xs:complexType name="SMSDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Line" nillable="true" type="tns:LineDto" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
      <xs:element minOccurs="0" name="SMSId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSDto" nillable="true" type="tns:SMSDto" />
  <xs:complexType name="ArrayOfPaymentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentDto" nillable="true" type="tns:PaymentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentDto" nillable="true" type="tns:ArrayOfPaymentDto" />
  <xs:complexType name="PaymentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerDto" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPayment" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentDto" nillable="true" type="tns:PaymentDto" />
</xs:schema>