Shelly_Aharoni_Cellular_Company 1.2/Client/Connected Services/CRMServiceReference/CRMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57594/Services/CRMService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57594/Services/CRMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57594/Services/CRMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Dtoes" />
      <xsd:import schemaLocation="http://localhost:57594/Services/CRMService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:57594/Services/CRMService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRMService_AddFullLine_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFullLine" />
  </wsdl:message>
  <wsdl:message name="ICRMService_AddFullLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFullLineResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="ICRMService_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_RemoveCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomer" />
  </wsdl:message>
  <wsdl:message name="ICRMService_RemoveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_RemoveLine_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLine" />
  </wsdl:message>
  <wsdl:message name="ICRMService_RemoveLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLineResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICRMService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_UpdateLine_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLine" />
  </wsdl:message>
  <wsdl:message name="ICRMService_UpdateLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLineResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetSelectedNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedNumbers" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetSelectedNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetCustomersIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersIds" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetCustomersIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetCustomerTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerTypes" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetCustomerTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetPackages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPackages" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetPackages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetLineForCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLineForCustomer" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetLineForCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLineForCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRMService">
    <wsdl:operation name="AddFullLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/AddFullLine" message="tns:ICRMService_AddFullLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/AddFullLineResponse" message="tns:ICRMService_AddFullLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/AddCustomer" message="tns:ICRMService_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/AddCustomerResponse" message="tns:ICRMService_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/RemoveCustomer" message="tns:ICRMService_RemoveCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/RemoveCustomerResponse" message="tns:ICRMService_RemoveCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/RemoveLine" message="tns:ICRMService_RemoveLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/RemoveLineResponse" message="tns:ICRMService_RemoveLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/UpdateCustomer" message="tns:ICRMService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/UpdateCustomerResponse" message="tns:ICRMService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/UpdateLine" message="tns:ICRMService_UpdateLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/UpdateLineResponse" message="tns:ICRMService_UpdateLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetSelectedNumbers" message="tns:ICRMService_GetSelectedNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetSelectedNumbersResponse" message="tns:ICRMService_GetSelectedNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetAllCustomers" message="tns:ICRMService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetAllCustomersResponse" message="tns:ICRMService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomersIds">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetCustomersIds" message="tns:ICRMService_GetCustomersIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetCustomersIdsResponse" message="tns:ICRMService_GetCustomersIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetCustomerTypes" message="tns:ICRMService_GetCustomerTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetCustomerTypesResponse" message="tns:ICRMService_GetCustomerTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetPackages" message="tns:ICRMService_GetPackages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetPackagesResponse" message="tns:ICRMService_GetPackages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLineForCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetLineForCustomer" message="tns:ICRMService_GetLineForCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetLineForCustomerResponse" message="tns:ICRMService_GetLineForCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRMService" type="tns:ICRMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFullLine">
      <soap:operation soapAction="http://tempuri.org/ICRMService/AddFullLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/ICRMService/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomer">
      <soap:operation soapAction="http://tempuri.org/ICRMService/RemoveCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLine">
      <soap:operation soapAction="http://tempuri.org/ICRMService/RemoveLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICRMService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLine">
      <soap:operation soapAction="http://tempuri.org/ICRMService/UpdateLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedNumbers">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetSelectedNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersIds">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetCustomersIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTypes">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetCustomerTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLineForCustomer">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetLineForCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMService">
    <wsdl:port name="BasicHttpBinding_ICRMService" binding="tns:BasicHttpBinding_ICRMService">
      <soap:address location="http://localhost:57594/Services/CRMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>