Shelly_Aharoni_Cellular_Company 1.2/Client/Connected Services/CRMServiceReference/CRMService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57594/services/CRMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Dtoes" />
  <xs:import schemaLocation="http://localhost:57594/services/CRMService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="customer" nillable="true" type="q1:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="AddCustomerResult" nillable="true" type="q2:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFullLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="line" nillable="true" type="q3:LineDto" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="packageInclude" nillable="true" type="q4:PackageIncludeDto" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="selectedNumber" nillable="true" type="q5:SelectedNumberDto" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="customer" nillable="true" type="q6:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFullLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFullLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q7:ArrayOfCustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCustomersIdsResult" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="GetCustomerTypesResult" nillable="true" type="q9:ArrayOfCustomerTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineForCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineForCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="GetLineForCustomerResult" nillable="true" type="q10:ArrayOfLineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="GetPackagesResult" nillable="true" type="q11:ArrayOfPackageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSelectedNumbersResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="RemoveCustomerResult" nillable="true" type="q13:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="RemoveLineResult" nillable="true" type="q14:LineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="customer" nillable="true" type="q15:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="UpdateCustomerResult" nillable="true" type="q16:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineId" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="line" nillable="true" type="q17:LineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Common.Dtoes" minOccurs="0" name="UpdateLineResult" nillable="true" type="q18:LineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>